BODY {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    padding: 50px;
}

P, H1, H2, H3 {
    color: #711184;
    font-family: sans-serif;
}

H1 { background-color: darkcyan; }
H2 { background-color: darkgray; }
P  { background-color: darkgoldenrod; }

.scene {
    display: flex;
    align-items: center;
    gap: 20px;
}

.scene img {
    width: 200px;
    height: auto;
}

.jorm img {
    width: 500px;
    height: auto;
}


.falling-person {
    position: absolute;
    width: 150px;
    left: 300px;
    top: -200px;
    animation: fallIntoCauldron 1.2s ease-in forwards;
}


@keyframes fallIntoCauldron {

    0%   { top: -200px; opacity: 1; }
    90%  { opacity: 1; }
    100% { top: 350px; opacity: 0; }
}
